@use '../base' as *;

%button {
  padding: 0.625rem 1.25rem;
  color: $white;
  background-color: $teal;
  border-radius: 30px;

  &:hover {
    opacity: 0.8;
    color: $yellow;
  }
}

.users__item {
  &--btn {
    a {
      @extend %button;
      display: inline;
    }
  }
}

.btn {
  @extend %button;
  display: inline-block;
  font-family: $secondary-font;
}
